body {
  background-image: url("images/jack-o-lantern.svg"),
    linear-gradient(to bottom, #1a237e, #000000);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@font-face {
  font-family: "Shlop-Regular";
  src: url("fonts/Shlop/Shlop-Regular.ttf.woff") format("woff"),
    url("fonts/Shlop/Shlop-Regular.ttf.svg#Shlop-Regular") format("svg"),
    url("fonts/Shlop/Shlop-Regular.ttf.eot"),
    url("fonts/Shlop/Shlop-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: "Deanna";
  src: url("fonts/Deanna/Deanna.ttf.woff") format("woff"),
    url("fonts/Deanna/Deanna.ttf.svg#Deanna") format("svg"),
    url("Deanna.ttf.eot"),
    url("fonts/Deanna/Deanna.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vremena-Grotesk-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Vremena-grotesk/VremenaGrotesk.woff") format("woff");
}

.main-heading {
  margin-bottom: 10%;
}

h1 {
  font-family: "Shlop-Regular", sans-serif;
  font-size: 50px;
  color: orange;
}

h2 {
  font-family: "Deanna", serif;
  font-size: 40px;
  color: orange;
  margin-top: 0;
}

p {
  font-family: "Vremena-Grotesk-Regular", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 1.5;
}

.article1 {
  position: relative;
}

.content-container {
  position: absolute;
  right: 30%;
}

ul li {
  color: white;
}
.article-container {
  max-width: 1200px;
  margin: 0 auto;
}

.article-content {
  /* position: relative; */
  display: flex;
  /* flex-direction: column; */
  min-height: 450px;
  margin-bottom: 20px;
}

.column {
  flex: 50%;
}

.info {
  max-width: 90%;
}

.article-image {
  max-width: 90%;
  border: 1px solid transparent;
  border-radius: 10px;
}

footer {
  margin: 0 auto;
  max-width: 1200px;
  color: red;
}

@media (max-width: 960px) {
  .article-content {
    flex-direction: column;
    margin-bottom: 75px;
  }

  .column {
    width: 100%;
  }

  /* .article-content:nth-child(odd) .text-column {
    order: 2;
  }

  .article-content:nth-child(odd) .image-column {
    order: 2;
  }

  .article-content:nth-child(even) .text-column {
    order: 2;
  }

  .article-content:nth-child(even) .image-column {
    order: 1;
  } */

  .article-content:nth-child(odd) .text-column {
    order: 1;
  }

  .article-content:nth-child(odd) .image-column {
    order: 2;
  }

  .article-content:nth-child(even) .text-column {
    order: 1;
  }

  .article-content:nth-child(even) .image-column {
    order: 2;
  }
}
