/* binding the fixed background image to the body and applying a gradient  */

#main-body {
  background-image: url("images/jack-o-lantern.svg"),
    linear-gradient(to bottom, #1a237e, #080808);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

/* all font faces used below  */

@font-face {
  font-family: "Shlop-Regular";
  src: url("fonts/Shlop/Shlop-Regular.ttf.woff") format("woff"),
    url("fonts/Shlop/Shlop-Regular.ttf.svg#Shlop-Regular") format("svg"),
    url("fonts/Shlop/Shlop-Regular.ttf.eot"),
    url("fonts/Shlop/Shlop-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style:normal;
}

@font-face {
  font-family: "Deanna";
  src: url("fonts/Deanna/Deanna.ttf.woff") format("woff"),
    url("fonts/Deanna/Deanna.ttf.svg#Deanna") format("svg"),
    url("Deanna.ttf.eot"),
    url("fonts/Deanna/Deanna.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vremena-Grotesk-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Vremena-grotesk/VremenaGrotesk.woff") format("woff");
}

.main-heading {
  margin-bottom: 10%;
}

h1 {
  font-family: "Shlop-Regular", sans-serif;
  font-size: 50px;
  color: orange;
}

.heading2 {
  font-family: "Deanna", serif;
  font-size: 40px;
  color: orange;
  margin-top: 0;
}

/* making the first letter in every h2 heading 2x the size of the default 40px size  */

h2::first-letter {
  font-size: 80px;
}

/* applying a shadow to h2 elements when hovered over */

h2:hover {
  text-shadow: 2px 2px 2px blue;
}

p {
  font-family: "Vremena-Grotesk-Regular", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 1.5;
}

/* styling the button acting as a hyperlink to the reflection page */

.round-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  color: orange;
  border-radius: 75%;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  font-family: "Vremena-Grotesk-Regular", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.round-button:hover {
  background-color: #212121;
}


ul li {
  color: white;
}

/* making a max width for the main content in the center of the screen effectively making 2 "bezzles" */

.article-container {
  max-width: 1200px;
  margin: 0 auto;
}

.article-content {
  /* position: relative; */
  position: relative;
  z-index: 1;
  display: flex;
  /* flex-direction: column; */
  min-height: 450px;
  margin-bottom: 20px;
}

.column {
  flex: 50%;
}

.info {
  max-width: 90%;
}

.article-image {
  max-width: 90%;
  border: 1px solid transparent;
  border-radius: 10px;
}

/* styling the footer to stretch across the entire bottom of the webpage  */

footer {
  margin: 0 auto;
  color: orange;
}

.footer-content {
  position: relative;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
}

/*replacing original list styling with emojis accordingly*/

#emoji-list {
  list-style: none;
  padding-left: 0;
}

#scariest::before {
  content: "\1F383";
}

#funniest::before {
  content: "\1F631";
}

#creative::before {
  content: "\1F52E";
}

/* media queries to make the website more suitable for smaller viewports */

@media (max-width: 960px) {
  .article-content {
    flex-direction: column;
    margin-bottom: 75px;
  }

  /* centered h1 and overlapping button if they collide  */

  h1 {
    text-align: center;
    position: relative;
    z-index: 4;
  }

/* one column layout when screen size <960px */

  .column {
    width: 100%;
  }

  /* smaller button  */

  .round-button {
    right: 2px;
    width: 50px;
    height: 25px;
    font-size: 8px;
  }

  /* .article-content:nth-child(odd) .text-column {
    order: 2;
  }

  .article-content:nth-child(odd) .image-column {
    order: 2;
  }

  .article-content:nth-child(even) .text-column {
    order: 2;
  }

  .article-content:nth-child(even) .image-column {
    order: 1;
  } */

  .article-content:nth-child(odd) .text-column {
    order: 1;
  }

  .article-content:nth-child(odd) .image-column {
    order: 2;
  }

  .article-content:nth-child(even) .text-column {
    order: 1;
  }

  .article-content:nth-child(even) .image-column {
    order: 2;
  }
}

